/* .textos-login {
    font-weight: bold !important;
}

.class-decorator-none{
    text-decoration: none;
}

.imagem-de-fundo{
    background-image: 'url (https://img.freepik.com/vetores-gratis/ilustracao-de-consulta-medica-online_88138-414.jpg?w=826&t=st=1681494604~exp=1681495204~hmac=27383699c3634a68b93d61d2deb722ae3d85c3e748a06533d970ed098d108e7c)';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vh;
    min-height: 100vh;
}

.botao-login {
    border-color: white !important;
    background-color: #001fb5 !important; 
    color: white !important; 
    font-weight: bold !important;
}
*/