
  
  .box-cards{
    max-width: 100%;
    padding: 1.5rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    
} 
.show-card{
    width: 31%;
    height: 300px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #337efe !important;
    color: white !important;
    font-weight: bold !important;
}
.show-card:hover{
  width: 35%;
  height: 310px;
  box-shadow: black 2rem;
}
.card-conteudo{
    
} 