#perfil {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}

.perfil-visualizacao {
    width: 60%;
}

#barra-visualizacao {
    width: 30%;
    background-color: red;
}

.card-principal {
    display: flex;
    border-radius: 32px 0;
    padding: 20px;
    margin: 20px;
    background-color: #63aff7;
    flex-direction: column;
    width: 100%;
}

.card-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px 32px 32px 56px;
    width: 100%;
}

.card-imagem {
    padding: 100px;
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

.card-container-texto {
    max-width: 550px;
    color: #fff;
    text-align: justify;
}


.elementos-laterais {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid-funcoes {
    margin-top: 5% !important;
}
.grid-pai{
    display: flex !important;
    justify-content: center !important;


}
.box-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}