.title {
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif !important;
}

.menuButton {
    color: white !important;
    font-weight: bold !important;
}

.menuButton:hover {
    background-color: white !important;
    color: black !important;
}

.appBar {
    /* background: #63aff7 !important; */
    /* background: #03989e !important; */
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 95%);
}

.options {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    color: white !important;
}
.options:hover{
    color: #001fb5 !important;
    background-color: white !important;
}

.homeLink {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* navBar logado */
.navlist{
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     background:#63aff7; 
    /*background-color: #03989e !important;*/
}

input{
    padding: 7px;
    border-radius: 20px;
}
