.text-decorator-none {
    text-decoration: none;
}

.btnDeletar {
    border-color: black !important;
    background-color: rgb(232, 108, 108) !important; 
    color: white !important; 
    font-weight: bold !important;
    margin-right: 20px !important;
}

.MuiButton-containedSizeSmall{
    background-color: #63aff7 !important;
    color: white !important;
    font-weight: bold !important;

}

.MuiCardActions-root{
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
}