.box-cards-exemplo {
  max-width: 100%;
  padding: 1.5rem 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between !important;
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.show-card-exemplo {
  width: 190px !important;
  height: 190px !important;
  background: #63aff7 !important;
  color: white !important;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
  align-items: center;

}

.text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#medicamentos {
  border-radius: 40px;
  background: #03989e !important;
}

#exames {
  border-radius: 40px;
  background: #03989e !important;
}

#consultas {
  border-radius: 40px;
  background: #03989e !important;
}

#icon-medicamentos {
  display: flex;
  align-items: center;
  justify-content: center;

}

#icon-exame {
  display: flex;
  align-items: center;
  justify-content: center;
}