.footer{
    background: #63aff7 ;
    height: 30vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.insta-icon{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tel-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.letra-footer{
    color: white;
}
 #number{
    font-size: 20px;
    color: white;
}
#btn-icon{
    color: white;
    padding: 10px;
}
#btn-icon:hover{
    border-radius: 50%;
    background-color: white;
    color: black;
}
#img-scale{
    margin: 0;
    filter: grayscale(100%);
}
#img-scale:hover{
    filter: grayscale(0);
    cursor: pointer;
}