

.titulo{
    font-weight: bold;
}
.butPost{
    background: #001fb5 ;
    /* background: #03989e; */
    color: white !important;
}
.fontes{
    font-weight: bold !important;
    color: black;
}
.sobre{
    color: white;
    font-weight: bold;
}
