

.titulo{
    font-weight: bold;
}
.butPost{
    background: #63aff7;
    color: black;
}
.fontes{
    font-weight: bold !important;
    color: black;
}
.sobre{
    color: white;
    font-weight: bold;
}
